Django==2.0.1
django-cors-headers==2.2.0
django-crispy-forms==1.7.0
django-redis-sessions==0.6.1
django-websocket-redis==0.5.1
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
gevent==1.2.2
gitdb2==2.0.3
GitPython==2.1.8
greenlet==0.4.13
pbr==3.1.1
psycopg2==2.7.3.2
PyJWT==1.6.4
pytz==2017.3
redis==2.10.6
six==1.11.0
smmap2==2.0.3
stevedore==1.28.0
uWSGI==2.0.17
virtualenv==15.1.0
virtualenv-clone==0.2.6
