#light-signup-form, #new-repo-form, .narrow-header {
    width: 35%;
    margin: auto;
}

#light-signup-form, #new-repo-form {
    margin-top: 20px;
}

.narrow-header {
    font-size: 24pt;
    font-weight: bold;
    padding-top: 25px;
}
