.header {
    height: 50px;
    background-color: #0056b3;
    margin: 0 0 10px 0 !important;
}

.sign-in-btn, .sign-out-btn {
    margin-top: 5px;
}

.row {
    margin: 20px 0 15px auto;
}

.ctrl-form-input {
    font-size: 16pt;
}

#setup-commands-textarea {
    height: 200px;
}

.ctrl-form-divider {
    font-size: 20pt;
    font-weight: bold;
    margin-left: 50%;
}

.subheader {
    font-size: 22pt;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.btn-panel {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}
