{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="back-btn">
        <a href="{% url 'local_spider_manager:list' %}"><< Back to cloned repos</a>
    </div>
    <div class="subheader">
        Managing git repo, url: <a href="{{ object.deep_link }}">{{ object.deep_link }}</a>
    </div>
    <div class="row">
        <div class="ctrl-extra-data col-md-12">
            {% crispy form %}
        </div>
    </div>
    <div class="subheader">
        Execution data
    </div>
    {% if controller.project_setup_bash_file %}
        <div class="row">
            <div class="logs col-md-6">
                {# TODO: push extra logs by sockets if log content > 512 lines #}
                <h2>Execution log</h2>
                {{ controller_log_content|linebreaks }}
            </div>
            <div class="sh-content col-md-6">
                <h2>Bash script content</h2>
                {{ controller_bash_content|linebreaks }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        const controllerId = '{{ controller.id }}';
        const runSpiderPath = '{% url "local_spider_manager:api:controller" %}';
    </script>
{% endblock %}
