{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="back-btn">
        <a href="{% url 'local_spider_manager:list' %}"><< Back to cloned repos</a>
    </div>
    <div class="subheader">
        Managing git repo, url: <a href="{{ object.deep_link }}">{{ object.deep_link }}</a>
    </div>
    <div class="row">
        {% if not controller.project_setup_bash_file %}
        <div class="ctrl-extra-data col-md-12">
            {% crispy form %}
        </div>
        {% else %}
            <div class="logs col-md-6">
            </div>
            <div class="sh-content col-md-6">
                {{ controller_bash_content|linebreaks }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const controllerId = '{{ controller.id }}';
        const runSpiderPath = '{% url "local_spider_manager:api:controller" %}';
    </script>
{% endblock %}
