{% extends 'base.html' %}

{% block content %}
    <div class="subheader">
        Cloned repos list
    </div>
    <div class="row btn-panel">
        <div class="col-md-8">
            <a href="{% url 'core:get_git_repo' %}" class="btn btn-primary">Add new repo</a>
        </div>
        {% if object_list %}
        <div class="col-md-4">
            <a
              href="{% url 'local_spider_manager:list' %}?remove-all"
              class="btn btn-danger remove-all-btn"
            >
                Remove ALL repos
            </a>
        </div>
        {% endif %}
    </div>
    {% if object_list %}
    <div class="row">
            <ul class="list-group col-md-12">
                {% for object in object_list %}
                    {% with status=object.controller.execution_status cloning_status=object.cloning_status %}
                    <li class="list-group-item
                    {% if status == 'R' %} list-group-item-success
                    {% elif status == 'S' %} list-group-item-danger
                    {% endif %}
                    ">
                        <div class="row">
                            <div class="col-md-10 repo-link-{{ object.id }}">
                                {% if cloning_status == 2 %}
                                    Link: {{ object.deep_link }}, ID: {{ object.id }}
                                {% else %}
                                    <a href="{% url 'local_spider_manager:manager' pk=object.id %}">
                                        Link: {{ object.deep_link }}, ID: {{ object.id }}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-2 repo-cloning-status-{{ object.id }}">
                                {% if cloning_status == 0 %}
                                    <i class="fa fa-spinner fa-spin" style="font-size:16px"></i> Cloning
                                {% elif cloning_status == 1 %}
                                    <i class="fa fa-check" style="font-size:16px;color:green;"></i> Cloned
                                {% else %}
                                    <i class="fa fa-close" style="font-size:16px;color:red;"></i> Cloning failed
                                {% endif %}
                            </div>
                            {% if object.log_chamber %}
                                <div class="col-md-12 log-chamber">
                                    {{ object.log_chamber|linebreaks }}
                                </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">>></a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
    </div>
    {% else %}
        <div class="row">
            <h1>Your cloned repos list is empty.</h1>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        const repoManagerLinkBase = '{% url 'local_spider_manager:manager' pk=0 %}';
    </script>
{% endblock %}
